/* REGOLE RESET  */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.container1 {
    max-width: 1100px;
    margin: 0 auto;
}

.container2 {
    max-width: 900px;
    margin: 0 auto;
}

/* REGOLE HEADER  */
.header-container {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.header-left {
    float: left;
    width: 50%;
    padding-left: 25px;
}

.header-right {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 25px;
}

.header-container nav {
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
    position: relative;
}

.main-logo {
    vertical-align: middle;
}

.header-container nav ul li a {
    text-decoration: none;
    color: black;

}

.selector {
    width: 100%;
    height: 3px;
    background-color: #0061ff;
    position: absolute;
    top:100%;
    left: 0;
    display: none;
}

li:hover .selector {
   display: block;
}

/* REGOLE BOTTONI */
.button {
    /* display: inline-block; */
    background-color: #0061ff;
    color: white;
    padding: 6px 20px;
    border: none;
}

/* REGOLE MAIN  */
/* REGOLE JUMBOTRON  */
.jumbotron {
    background-color:#b4d0e7;
    width: 100%;
    height: 650px;
    margin-top: 81.5px;
}

.jumbotron-left {
    width: 40%;
    float: left;
    margin-top: 30px;
}

.jumbotron-right {
    width: 60%;
    height: 200px;
    float: left;
    margin-top: 30px;
}

.main-title {
    font-size: 5em;
}

.jumbotron .jumbotron-right img {
    width: 100%;
}

.jumbotron-left p {
    margin-bottom: 20px;
    padding-right: 70px;
}

.jumbotron-left div {
    margin: 20px 0;
}

.jumbotron-left a {
    font-size: 2.5em;
    color: black;
}

/* REGOLE PRICE-LIST SECTION  */
.price-list-section {
    margin-top: 200px;
}

.price-list-section h2 {
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 30px;
}


.price-list.column {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.offer {
    width: 30%;
    border: 1px solid lightgray;
}

.enterprise {
    width: 100%;
    height: 120px;
    border: 1px solid lightgray;
    margin-top: 30px;
}

/* REGOLE SEZIONE "TROVA PARTNER"   */
.find-partners {
    margin-top: 60px;
}
.find-partners .section-photo {
    float: left;
    width: 60%; 
}

.find-partners .section-photo img {
    width: 100%;
}

.find-partners .section-partner-text {
    float: left;
    width: 40%;
    border: 1px dashed black;
}

/* REGOLE SEZIONE FEATURES  */
.dropbox-features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
}

.feature {
    width:calc(100% / 3 - 20px);
    border: 1px dashed black;
    margin: 20px 0;
}

.dropbox-features .feature img {
    width: 100%;
}

/* REGOLE SEZIONE CLIENTS */
.client-container {
    display: flex;
}

.big-box {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.left-side-squares {
    border: 1px dashed black;
}

.center-content {
    border: 1px dashed black;
}

.right-side-squares {
    border: 1px dashed black;
}

.square {
    width: 50%;
    height: 50%;
    border: 1px dashed black;
    position: relative;
}

.square img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

/* REGOLE SEZIONE CALL-TO-ACTION DROPBOX BUSINESS */
.section-background {
    width: 100%;
    background-color: #b4d0e7;
}

.section-content {
    position: relative;
    height: 250px;
}

.section-text {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
}

.button.dropbox-business {
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
}

/* REGOLE SEZIONE DOMANDE FREQUENTI */
.faq-section {
    margin-top: 80px;
}
.question {
    border-top: 1px solid black;
    padding: 10px 0;
}

/* REGOLE FOOTER  */
footer {
    background-color: black;
    height: 400px;
}

.footer-column {
    width: calc(100% / 5);
    height: 200px;
    float: left;
    border: 1px dashed white;
    margin-top: 50px;
}

