/* REGOLE RESET  */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.container1 {
    width: 80%;
}

.container2 {
    width: 70%;
}

/* REGOLE HEADER  */
.header-container {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-left {
    float: left;
    border: 1px dashed black;
    width: 50%;
    padding-left: 25px;
}

.header-right {
    float: left;
    border: 1px dashed black;
    width: 50%;
    text-align: right;
    padding-right: 25px;
}

.header-container nav {
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
    border-bottom: 2px solid black;
}

.main-logo {
    vertical-align: middle;
}

.header-container nav ul li a {
    text-decoration: none;
    color: black;

}

/* REGOLE BOTTONI */
.button {
    /* display: inline-block; */
    background-color: #0061ff;
    color: white;
    padding: 4px 9px;
}

/* REGOLE MAIN  */
/* REGOLE JUMBOTRON  */
.jumbotron {
    background-color:#b4d0e7;
    width: 100%;
    height: 500px;
    padding-top: 100px;
}

.jumbotron-left {
    width: 40%;
    border: 1px dashed black;
    float: left;
}

.jumbotron-right {
    width: 60%;
    height: 200px;
    border: 1px dashed black;
    float: left;
}

/* REGOLE PRICE-LIST SECTION  */
.price-list.column {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.offer {
    width: calc(100% / 3 - 20px);
    height: 300px;
    border: 1px dashed black;
}

.enterprise {
    width: 100%;
    height: 120px;
    border: 1px dashed black;
    margin-top: 30px;
}

/* REGOLE SEZIONE "TROVA PARTNER"   */
.find-partners {
    margin-top: 60px;
}
.find-partners .section-photo {
    float: left;
    width: 60%; 
}

.find-partners .section-photo img {
    width: 100%;
}

.find-partners .section-text {
    float: left;
    width: 40%;
    border: 1px dashed black;
}

/* REGOLE SEZIONE FEATURES  */
.dropbox-features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
}

.feature {
    width:calc(100% / 3 - 20px);
    height: 250px;
    border: 1px dashed black;
    margin: 20px 0;
}